<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Arbortrary</title>
</head>

<body>
    <header>
        <div class="d-flex justify-content-between align-items-center">
            <h2>Arbotrary</h2>
            <div class="d-flex justify-content-around align-items-center">
                <a href="/user/account">My Trees</a>
                <h2 class="text-center">Welcome {{logged_in_user.first_name}}, {{logged_in_user.last_name}}!</h2>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <p>A site to track randomly planted trees</p>
            <div class="d-flex justify-content-around ">
            <a href="/dashboard" class="my-3 btn btn-success text-white">Dashboard</a>
            <a href="/" class="my-3 btn btn-success text-white">Logout</a>
            </div>
        </div>
    </header>

    <form action="/trees/create" method="post" class="col-5 mx-auto rounded p-5 bg-dark text-white">
        <h1 class="text-primary">Arbitrarily Plant a Tree</h1>
        <div class="bg-dark text-danger">
            {% with messages = get_flashed_messages(category_filter=['tree']) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <h2>Error!</h2>
                        {% for message in messages %}            
                            <p>{{message}}</p>                    
                        {% endfor %}
                </div>                            
                {% endif %}
            {% endwith %}
        </div>
        
        <div class="form-group">
            <label for="species">Species:</label>
            <input type="text" name="species" class="form-control">
        </div>
        <div class="form-group">
            <label for="locations">Location:</label>
            <input type="text" name="locations" class="form-control">
        </div>
        <div class="form-group">
            <label for="reasons">Reason:</label>
            <input type="text" name="reasons" class="form-control">
        </div>
        <div class="form-group">
            <label for="date_planted">Date_planted:</label>
            <input type="date" name="date_planted" class="form-control">
        </div>
        <input type="submit" value="Plant" class="my-3 btn btn-primary text-white">
    </form>
</body>