<script>
    $(document).ready(function() {
        $('event-form-ajax').submit(function(e) {
            e.preventDefault();
            var response = $.post('/events/create/ajax', $('#event-form-ajax').serialize());
            console.log(`RESPONSE HERE: ${response}`);
            respnose.done(function(data) {
                console.log(`DATA HERE: ${data}`);
                $('#all-events').prepend(data)
            })
        })
    });
</script>


<div class="container">
    <h1>All Events</h1>
    <ul id="all-events">
        {% for event in all_events %}
        <li>{{event.title}}</li>
        {% endfor %}
    </ul>
    <h1>Add an event the normal way</h1>
    <form id="event-form" action="/events/create" method="POST" class="create-event">
        <label for="title"></label>
        <input type="text" name="title" id="title">
        <input type="submit" value="Add Event">
    </form>

    <h1>Add event the ajax way</h1>
    <form id="event-form" action="/events/create/ajax" method="POST" class="create-event">
        <label for="title"></label>
        <input type="text" name="title" id="title">
        <input type="submit" value="Add Event">
        <a href="/reset">Delete All</a>
    </form>        
</div>