* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: lightblue
}

body {
    width: 1080 px;
}

header {
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: center;
}

main {
    width: 100%;
    display: flex;
}

.box {
    background-color: lightblue;
    border-color: black;
    border-width: .5em;
}