<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dojos and Ninjas</title>
</head>
<body>
    <div class="d-flex justify-content-around">
        <form action="/create/dojo" method="post" class="col-5 bg-dark p-4 my-5 text-light" >
            <h2 class="text-center text-primary">New Dojo</h2>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" class="form-control">
            </div>
            <input type="submit" value="Add Dojo" class="btn btn-primary btn-outline-dark">
        </form>
        <div class="col-5 bg-dark text-light text-center my-5 p-4">
            <h2 class="text-primary">All Dojos</h2>
            {% for d in all_dojos: %}
                <p>
                    <a href="/dojo/{{d.id}}" class="text-warning">{{d.name}}</a>
                </p>
            {% endfor %}
        </div>
    </div>
    <a href="/ninjas" class="text-center mx-auto">Add Ninja</a>
</body>