<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body class="d-flex justify-content-around">
    <form action="/create/survey" method="post" class="col-5 bg-dark p-4 my-5 text-light" >
        <div class="form-group">
            <label for="name">Your Name:</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="location">Location:</label>
            <select name="location" id="dojo" class="form-control">
                <option value="">-- Select A Location --</option>
                <option value="Chicago">Chicago</option>
                <option value="Seattle">Seattle</option>
                <option value="Online">Online</option>
                <option value="Burbank">Burbank</option>
                <option value="Bellevue">Bellevue</option>
            </select>
        </div>
        <div class="form-group">
            <label for="language">Favorite Language:</label>
            <select name="language" id="language" class="form-control">
                <option value="">-- Select A Language --</option>
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Python">Python</option>
                <option value="C#">C#</option>
            </select>
        </div>
        <div class="form-group">
            <label for="comment">Comment (Optional):</label>
            <textarea name="comments" id="comments" class="form-control" cols="30" rows="10"></textarea>
            <!-- <input type="text" name="comment" class="form-control"> -->
        </div>
        <input type="submit" class="btn btn-warning btn-outline-dark" value="Submit">
        <!-- <a href="/result" class="text-center mx-auto">Submit</a> -->
    </form>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
        {% if messages %}                            <!-- check if there are any messages -->
            {% for message in messages %}            <!-- loop through the messages -->
                <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>