<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>painting Show</title>
    <style>
        text {
            padding: 0 0 6em 2em;
            margin-bottom: 1em;
        }
        span {
            padding: 0 0 6em 2em;
            margin-bottom: 1em;
        }
    </style>
</head>
<body class="d-flex flex-column mx-auto">
    <header>
        <div style="float:right" class="d-flex justify-content-around align-items-center">        
            <a href="/paintings/new" class="m-5 btn btn-success text-white">Add painting</a>
            <a href="/dashboard" class="m-5 btn btn-success text-white">Dashboard</a>
            <a href="/logout" class="m-5 btn btn-success text-white">Logout</a>
        </div>
    </header>
    <main>
        <h1>{{painting.name}}</h1>
        <p>Painted By {{painting.user.first_name}} {{painting.user.last_name}}</p>
        <p>Description:</p>
        <text>{{painting.description}}</text>
        <p>Price:</p>
        <text>{{painting.price}}</text>
        <p>Number Purchased:</p>
        <span class="mb-3">{{painting.sold}}</span>
        {% if painting.quantity == 0 %}
            <p>Sold Out</p>
        {% elif logged_in_user.id == painting.user_id %}
            <p>Current Quantity: {{painting.quantity}} </p>
            <text>(You shouldn't buy your own painting)</text>
        {% else %}
        <form action="/paintings/{{painting.id}}/buy" method="post">
            <input type="submit" class="m-5 btn btn-success text-white" value="Buy">
        </form>
        {% endif %}
    </main>
</body>