<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>dashboard</title>
    <style>
        a {
            font-style: italic;
        }
    </style>
</head>
<body class="mx-auto">
    <header>
        <div class="d-flex justify-content-between">
            <h2>Hi {user.first_name}</h2>
            <h3><a href="/logout">logout</a></h3>
        </div>
        <div>
            <form action="/create/post" method="POST">
                <label for="posting">Ask a question or write a review:</label>
                <input type="text" name="posting">
            </form>
        </div>
    </header>
    
    <main class="">
        {% for post in posts %}
            <a href="/profile/{user.id}">{{post.user.first_name}}</a>
            {% if user.id != logged_in_user.id %}
                <a href="">Like</a>
            <a href="/user_who_liked">{{likes.count}} liked this.</a>                
        {% endfor %}
    </main>
    
</body>
</html>